@model IEnumerable<NetCoreMvcPeoject.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Customers" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sceneguid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isinclude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.district)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.copyvalue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sceneguid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isinclude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.district)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.copyvalue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.guid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.guid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.guid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
